html {
    box-sizing: border-box;
    /* padding: 10px; */
    font-family: 'Montserrat', sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

  *, *:before, *:after {
    box-sizing: inherit;
    /* background-color: #d7f4ff; */
}

a{
  text-decoration: none;
  color: #4f4e4e
}


body{
  background-color: white;

}

header{
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
header h1{
  background-color: inherit;
  font-family: 'Righteous', cursive;
}

header form{
  display: flex;
}

.logoutButton{
  margin: 0;
  padding: 0;
  /* opacity: 0.; */
}

/* ==================================== */
/* ROOT STYLES */
/* ==================================== */

form{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 50%; */
  margin-top: 30px;
  padding-bottom: 30px;

}

form label{
  background-color:#f8f8f8;
}

form input {
  background-color: #eee;
  border-radius: 5px;
}

.Mission {
  border-top: 1px solid rgba(0,0,0,0.2);
  background-color: white;
  /* width: 80%; */
  padding: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* outline: 1px solid black; */
}

.Mission h3{
  background-color: inherit;
}

.Mission p{ 
  background-color: #f7f7f7;
}

/* ==================================== */
/* USER HOME STYLES */
/* ==================================== */

/* #line-chart{
 
} */

.placeholderImg {
  max-width: 100%;
}

.summary{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.summary h3{
  margin: 5px;
}

.stats{
  width: 80%;
}

.stats ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.questionsButton{
  padding: 10px 0;
  width: 90%;
  background-color: aliceblue;
  border-radius: 5px;
}

.Resources{
  display: flex;
  flex-wrap: wrap;
  border:  0;
  justify-content: center;
  padding: 20px;
}

.Resources h3{
  width: 100%;
  text-align: center;
  margin: 0;
}

.Resources ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Resources li {
  padding: 5px 0;
}

/* ==================================== */
/* QUESTIONS FORM STYLES */
/* ==================================== */

.questionsForm{
  display: flex;
}

.questionsForm label, .questionsForm select, {
  padding: 10px;
}

/* ==================================== */
/* SETTINGS FORM STYLES */
/* ==================================== */
.setting form{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.setting input{
  margin: 10px;
}

.setting h3{
  text-align: center;
  opacity: 0.5;
}


/* ============================ */
/* Styles for accordion list */
/* ============================ */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  margin: none;
  display: none;
  background-color: white;
  overflow: hidden;
}
/* end styles for accordion list */

/* ==================================== */
/* FOOTER STYLES */
/* ==================================== */

footer{
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

footer *{
  background-color: inherit;
}

footer h5{
  margin: 0;
}

.social-links{
  background-color: inherit;
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-links li{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
}

.icons{
  width: 90%;
  padding: 10px 0;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons i:hover{
  transform: scale(1.6);
  transition: transform 0.25s;
}
/* .loginAndRegisterLinks {
    background-color: #0078a8;
}

.login {
    background-color: #009fb2;
}

.register {
    background-color: #009fb2;
} */


